.container{
	display: flex;
}

.container-column {
	flex-direction: column;
}

.image-and-stars-and-buttons{
	display: flex;
	flex-direction: column;
	text-align:center;
	margin-top: 24px;
	margin-bottom: 24px;
}

.personality-image{
	border-radius: 8px;
	height: 300px;
}

.stars-pink{
	color: $pink;
}

.personality-of{
	display: flex;
	justify-content: space-between;
}

.other-personalities{
	min-width: 400px;
	text-align: center;
	img {
		height: 50px;
		width: 50px;
		object-fit: cover;
		border-radius: 8px;
		padding-right: 0;
	}
}

.perso-flex{
	display: flex;
}

.personality{
	display:flex;
	flex-direction: column;
	margin: 5px;
	& > p {
		font-size: 12px;
	}
	& > a {
		color: black;
	}
	img{
		width:20px;
		height:20px;
	}
}

.img-rounded{
}

#profile-line {
	margin: 20px 0px;
	border-top: 3px solid black;
}

.right-container{
	margin:4px;
	margin-top:20px;
	background-repeat: no-repeat;
	min-width: 400px;
	// img{
	// 	border-radius: 4px;
	// 	height: 300px;
	// 	width:300px;

	// }
}
