    <% @personalities.each do |personality| %>
      <div class="card-container">
        <div class="card-img" style="background-image: url(<%= personality.picture %>)">
          <div class="card-badge"><p><%= personality.price_per_day %></p></div>
        </div>
        <div class="card-info">
          <h3><%= personality.first_name %></h3>
          <p><%= personality.user.age %> years old</p>
        </div>
        <div class="card-ratings">
          <p>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
        </div>
      </div>
    <% end %>