<div class="footer">
  <div class="container">
    <h2>Follow us</h2>
    <div class="social">
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
