<div class="banner">
  <div class="container">
    <h1>Choose your flavour</h1>
    <p>Find your perfect date for any occassion</p>

    <div class="form-container">

    </div>
  </div>
</div>

<div class="container">
  <h2>Featured Personalities</h2>
  <a href="#" class="btn btn-green">BUTTON</a>
  <a href="#" class="btn btn-grey">BUTTON</a>
  <div class="cards-grid">

    <% @personalities.each do |personality| %>
      <div class="card-container">
        <div class="card-img" style="background-image: url(<%= personality.picture %>)">
          <div class="card-badge"><p>£25 per night</p></div>
        </div>
        <div class="card-info">
          <h3><%= personality.first_name %></h3>
          <p><%= personality.user.age %> years old</p>
        </div>
        <div class="card-ratings">
          <p>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
        </div>
      </div>
    <% end %>

  </div>
</div>
