<h1>Show page for <%= @personality.first_name %> <%= @personality.last_name %></h1>

<% if policy(@personality).edit? %>
  <%= link_to "Edit Personality", edit_personality_path(@personality) %>
<% end %>
