.card-container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 8px;
  min-width: 250px;
  &:hover {
    background: #ebebeb;
    text-decoration: none;
  }
}

.card-img {
  height: 160px;
  background-size: cover;
  position: relative;
  border-radius: 4px 4px 0px 0px;
}

.card-badge {
  background: #fff;
  border-radius: 18px;
  padding: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  width: 120px;
  position: absolute;
  right: 4px;
  bottom: - 20px;
  p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
  }
}

.card-info {
  padding: 8px;
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    margin: 0;
    color: #707070;
  }
}

.card-ratings {
  padding: 8px;
  text-align: right;
  p {
    margin: 0px;
    color: #E56399;
  }
}

a:hover{
  text-decoration: none;

.booking-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200,200,200);
  padding: 16px 16px;
  background-color: rgba(220,220,220,0.5);
  .big-avatar {
    margin-right: 16px;
  }
  &:last-child {
    border-bottom: none;
  }
  p {
    margin: 0;
    padding: 4px 0;
  }
}

.booking-card-details {
  flex-grow: 1;
}
