.footer {
  height: 60px;
  background: #E56399;
  color: #fff;
  // margin-top: 16px;
  position: absolute;
  padding: 12px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 1rem;
}

.social {
  a {
    color: #fff;
    font-size: 24px;
    margin-right: 16px;
    transition: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
