.footer {
  height: 100px;
  background: white;
  color: #fff;
  margin-top: 40px;
  h2{
    font-size:28px;
    color: $pink;
  }
}

.social {
  justify-content: space-around;
  li{
    margin-left: 0;
  }
  a {
    color: $pink;
    font-size: 24px;
    transition: 0.3s;
    padding-bottom: 8px;
    &:hover {
      opacity: 0.5;
    }
  }
}






