#new-personality {
  padding: 40px, 0px;
  width: 70%;
  label {
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 60%;
  }
}

#login {
  padding: 40px, 0px;
  width: 30%;
  label {
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 60%;
  }
}

.form {
  a{
    font-size: 14px;
    color: #707070;
  }
}

#new-user {
  label {
   font-weight: 500;
  }
}
