.inbox-sender-name {
  font-size: 14px;
}

.inbox-message-content {
  font-size: 14px;
}

.message-container {
  position: relative;
  p {
    margin: 0;
  }
}

.message-info {

}

.message-sent-info {
  position: absolute;
  bottom: 0px;
  right: 4px;
  font-size: 14px;
  color: #ebebeb;
}

.inbox-header {
  padding: 8px;
  background: $pink;
  color: #fff;
  border-radius: 4px 4px 0px 0px;
  p {
    margin: 0;
  }
}

.inbox-container {
  background: #fff;
  border-radius: 4px;
  margin-top: 48px;
}

.inbox-messages-container {
    height: 60vh;
    overflow-y: scroll;
}

.reply {
  color: #505050;
}

.unread {
  font-weight: bold;
}
