.filter-home {
  padding: 10px;
  label {
   color: white;
   font-weight: 500;
   padding-left: 10px;
  }
  select, input {
    font-weight: 500;
    font-family: "Poppins", "Helvetica", "sans-serif";
    color: #606060;
    border-radius: 5px;
    font-size: 20px;
    padding: 4px;
    border-width: 0px;
    padding: 8px 24px;
    height: 42px;
  }
}

.filter{
  padding-bottom: 12px;
  label {
   font-weight: 500;
  }
  select, input {
    font-weight: 500;
    background-color: white;
    font-family: "Poppins", "Helvetica", "sans-serif";
    color: #606060;
    border-radius: 5px;
    font-size: 16px;
    border-width: 0px;
    padding: 8px 10px;
    height: 36px;
    max-width: 180px;
    margin-right: 10px;
    margin-bottom: 6px;
  }

}

  #home-search {
    color: white;
    background-color: #52B796;
  }

  #search {
    color: white;
    background-color: #52B796;
    padding-left: 12px;
    padding-right: 12px;
    height: 36px;
  }
